body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-bottom: -8px;
    height: 729px;
    width: 440px;
}
#calc {
    background-color: #1F2937;
    height: 500px;
    width: 600px;

}
#answers {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid black;
    height: 80px;
    width: 598px;
    font-size: 24px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
#Container2 {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 200px;
    flex-grow: 1;

}
#nums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 440px;
    width: 600px;
}
#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #AC {
    height: 80px;
    width: 120px;
}
#equal {
    height: 80px;
    width: 600px;
}
#add, #multiply, #divide, #subtract {
    height: 80px;
    width: 120px;
}
#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #AC, #multiply, #equal {
    font-size: 20px;
}
#add, #subtract, #divide {
    font-size: 35px;
}